@include sticky-footer(75px, ".content-fullscreen", "#footer-fullscreen");

footer {
  background-color: $pampas;
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
}

.footer-block {
  padding: 40px;
  float: left;
  width: 100%;

  @include mq($tablet-width, $max) {
   padding: 40px 15px 15px;
  }

  &:before {
    position: absolute;
    left: 0;
  }
  &:after {
    position: absolute;
    right: 0;
  }
}

.footer-block-title {
  text-transform: uppercase;
  font-size: 12px;
  color: $purple;
  font-family: $font-family--secondary;
}

.footer-block-text {
  font-size: 12px;
  font-family: $font-family--primary;
  color: $abbey;
  letter-spacing: 0.01em;
}

.footer-block-full-width {
  display: block;
}

.footer-block-info {
  line-height: 1em;
}

.footer-block-newsletter-text {
  font-size: 12px;
  font-family: $font-family--primary;
  font-weight: 700;
  color: black;
  letter-spacing: 0.01em;
  margin-bottom: 15px;
  display: block;
}

.footer-block-1 {
  &:before {
    content: url(img/divider-1.png);

    @include mq($tablet-width, $max) {
     content: '';
    }
  }
}

.footer-block-2 {
  .menu-block-primary-text {
    color: $dove;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    width: 65%;
    margin-bottom: 10px;
  }

  hr {
    border-color: black;
  }

  &:before {
    content: url(img/divider-2.png);

    @include mq($tablet-width, $max) {
     content: '';
    }
  }
 }

 .footer-block-3 {

   .menu-block-primary-text {
     color: $dove;
     border-bottom: 2px solid black;
     padding-bottom: 10px;
     width: 65%;
     margin-bottom: 10px;
   }

   hr {
     border-color: black;
   }

   p {
     float: left;
     font-size: 12px;
     font-weight: 700;
     color: $dove;
   }

   &:before {
     content: url(img/divider-3.png);

     @include mq($tablet-width, $max) {
      content: '';
     }
   }
   &:after {
     content: url(img/divider-1.png);
     top: 40px;

     @include mq($tablet-width, $max) {
      content: '';
     }
   }
 }

.footer-menu-block {
    width: 50%;
    float: left;
    margin-bottom: 20px;

    .menu-block-primary-text {
      color: #726e73;
    }

    .menu-block-secondary-text {
      color: #726e73;
      border-bottom: 3px solid #726e73;
      width: 65%;
    }

    &:hover {
      opacity: 0.7;
    }
}

.footer-navigation {
  float: left;
  font-family: $font-family--secondary;
  width: 100%;

  ul {
    padding: 0;
    li {
        display: inline-block;
        float: left;
        width: 50%;
        line-height: 1.1em;

        a {
          color: $salt-box;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 0.03em;
        }
    }
  }
  ul li:nth-child(odd) {
    float: left;
  }
  ul li:nth-child(even) {
    float: right;
  }
}
