header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-blend-mode: darken;

  &.full {

    .container {
      .home-container {
        height: calc(100vh - 80px);
        display: table;
        width: 100%;
        top: 0px;
        position: relative;
      }
    }
  }


  .home-container {
    height: calc(40vh);
    display: table;
    width: 100%;
    top: 0px;
    position: relative;
  }


  .bottom {
    position: absolute;
    bottom: 75px;
    left: calc(50% - 23px);
  }
}

// Ugly  hack, think about this

.home {
    header {
        &.full {
            .masthead-title {
                margin-bottom: 35px;
            }
        }
    }
}
