header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &.full {

    .masthead-title {
    //   margin-top: 25%;
        margin-bottom: 170px;
    }

    .container.homer {
      min-height: calc(100vh - 34px);
    }
  }

  .bottom {
    position: absolute;
    bottom: 75px;
    left: calc(50% - 23px);
  }
}

// Ugly  hack, think about this

.home {
    header {
        &.full {
            .masthead-title {
                margin-bottom: 35px;
            }
        }
    }
}
