label {
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
}

select {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  border-radius: 0;
  height: 54px;
}

option {
  padding: 5px 10px;
}

.wp-editor-container {
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

input[type="submit"] {
  font-family: 'din-condensed-web', sans-serif;
  text-transform: uppercase;
  background: #ccc;
  border: 0;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  color: #c25543;
  font-size: 20px;
  height: auto;
  padding: 20px;

  &:hover {
    opacity: 0.7;
  }
}

input[type="tel"] {
  width: 100% !important;
}

.frm_ajax_loading {
  display: none;
}

.frm_error {
  margin-bottom: 15px;
}

.footer-citation {
  position: absolute;
  bottom: 20px;
  right: 20px;

  a {
    color: #646464;
    font-size: 12px;
    font-family: $font-family--primary;
  }
}

.input-form {
  margin-top: 97px;
}

.multi-select {
  select {
    height: 98px;
  }
}

.frm_description {
  font-size: 14px;
  margin: 10px 0;
}

.frm_top_container {
  margin-bottom: 25px;
}

.frm_error {
  color: red;
}

.frm_message {
  padding: 25px;
  border: 1px solid #3f4042;
}

#message {
  margin-bottom: 25px;

  p:first-of-type {
    font-family: $font-family--primary;
    color: #b33ed9;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}

.frm_checkbox {
  display: inline-block;
}

#frm_field_152_container {

  .frm_checkbox {

    &:last-of-type {
      display: block;

      label {
        display: inline-block;
      }

      input {
        width: inherit;
        display: inline-block;
      }
    }
  }
}

.frm_forms {
  fieldset {
    padding: 0;
    margin: 0;
  }
}
 #frm_loading {
   background: none !important;
   color: red;
 }


.frm_submit {
  margin-top: 20px;
  
  input[type="submit"] {
    width: 50%;
    float: left;
  }

  .frm_save_draft {
    a {
      float: left;
      font-family: 'din-condensed-web', sans-serif;
      text-transform: uppercase;
      background: #ccc;
      border: 0;
      box-shadow: none;
      text-shadow: none;
      border-radius: 0;
      color: #c25543;
      font-size: 20px;
      height: auto;
      padding: 16px;
      width: 48%;
      text-align: center;
      margin-left: 10px;
    }
  }
}
