#main {
    margin-bottom: 50px;
    background: white;
    position: relative;
    float: left;
    width: 100%;
}

.content-half {
  width: 50%;
  float: left;
  height: 400px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
  padding: 30px;


  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;

  @include mq($desktop-width, "max-width") {
    width: 100%;
  }

  .content-text {
    font-size: em(36);
    line-height: 1.1em;
    font-family: $font-family--secondary;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 15%;
  }
}

.content-third {
  width: 33.333%;
  float: left;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 40px;

  @include mq($tablet-width, "max-width") {
    width: 100%;
  }
}

.content-fourth {
    width: 25%;
    float: left;
    background-size: cover;
    background-position: center;
    position: relative;

    @include mq($tablet-width, "max-width") {
      width: 100%;
    }
}

.filter-third {
    width: 33.333%;
    float: left;
    position: relative;
    padding: 15px;
    text-align: center;

    @include mq($tablet-width, "max-width") {
      width: 100%;
    }
}

.filter-quarter {
    width: 25%;
    float: left;
    position: relative;
    padding: 15px;
    text-align: center;

    @include mq($tablet-width, "max-width") {
      width: 100%;
    }
}

.filter-half {
  width: 50%;
  float: left;
  position: relative;
  padding: 15px;
  text-align: center;

  @include mq($tablet-width, "max-width") {
    width: 100%;
  }
}

.content-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  .content-text-main {
    font-size: em(30);
    line-height: 1.3em;
    font-family: $font-family--primary;
    font-weight: 500;
    margin-bottom: 40px;
    letter-spacing: 0.01em;
  }
}

.content-text-cta {
  font-size: 14px;
  font-family: $font-family--secondary;
  text-transform: uppercase;
  display: block;
  line-height: 20px;

  a {

  }
}

.content-rectangle-screen {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: table;
  padding: 10%;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.content-circle-screen {
  border-radius: 50%;
	width: 100%;
	height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: table;
  padding: 10%;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.content-square-screen {
	width: 100%;
	height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: table;
  padding: 10%;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.white-line {
  height: 1px;
  background-color: white;
  width: 110px;
  position: relative;
  margin: 10px auto;
  display: block;
}

.red {
  color: $crail;

  .resource-inner {
    border-top: 1px solid $crail;
  }

  a {
    color: $crail;
  }
}
.purple {
  color: $purple;

  .resource-inner {
    border-top: 1px solid $purple;
  }

  a {
    color: $purple;
  }
}
.blue {
  color: $matisse;

  .resource-inner {
    border-top: 1px solid $matisse;
  }

  a {
    color: $matisse;
  }
}
.dark-gray {
  color: $abbey;

  .resource-inner {
    border-top: 1px solid $abbey;
  }

  a {
    color: $abbey;
  }
}

.text-two-columns {
   -moz-column-count: 2;
   -moz-column-gap: 20px;
   -webkit-column-count: 2;
   -webkit-column-gap: 20px;
}

blockquote {
	margin-bottom: 20px;
	padding-left: 20px;
	position: relative;
	width: 100%;

    p {
        float: left;
    }

	.quote-text {
        font-family: $font-family--secondary;
		font-size: 48px;
		line-height: 1.2;
        font-style: normal;
        text-transform: uppercase;
        display: block;

		&:before {
			content: '\201C';
			position: absolute;
				top: 0;
				left: 0;
		}

		&:after {
			content: '\201D';
			position: relative;
				left: 0;
		}

	}

	.quote-citation {
		font-size: 30px;
		margin-bottom: 0;
		padding-left: 35px;
		position: relative;
        display: block;
        font-style: normal;
        float: right;

		&:before {
			content: '\2014';
			position: absolute;
				left: 0;
		}
	}
}

.content-text-title {
  display: block;
  margin-bottom: 10px;
}

.wppb-user-forms {
  margin: auto;

  ul {
    list-style-type: none;
    padding: 0;
  }

  .wppb-send-credentials-checkbox {
    display: none;
  }

  .text-input {
    border: 1px solid $silver;
    margin-bottom: 15px;
  }

  .submit {
    background: $silver;
    font-family: $font-family--secondary;
    text-transform: uppercase;
    font-size: 12px;
    color: $crail;

    &:hover {
      opacity: 0.7;
    }
  }
}

#wppb_register_pre_form_message {
  display: none;
}

#sidebar {
  position: fixed;
  background-color: $pampas;
  padding: 20px;
  z-index: 10;

  ul {
    padding: 0;

    li {
      list-style-type: none;
      font-family: $font-family--secondary;
      text-transform: uppercase;
      margin-bottom: 10px;

      &.active-item {
        a {
          border-bottom: 3px solid $abbey;
        }
      }

      a {
        color: $abbey;
      }
    }
  }
}

.filter-box {
    padding: 50px;
    position: relative;

    ul {
        padding: 0;

        li {
            list-style-type: none;
            font-family: $font-family--secondary;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
}

.filter-product, .filter-skills, .filter-location {
    display: none;
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}

.filter-legal, .filter-finance {
    display: none;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.filter-business, .filter-marketing-and-pr {
    display: none;
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}



.x {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: $font-family--secondary;
    text-transform: uppercase;
    color: $purple;
    cursor: pointer;
}

.filter-button {
    font-family: $font-family--secondary;
    text-transform: uppercase;
    color: #3f4143;
    cursor: pointer;

    &.filter-business-button, &.filter-product-button {
        background: #f2f2f2;
        background-image: url(img/FreshSnow.png);
        background-repeat: repeat;
    }
    &.filter-marketing-and-pr-button, &.filter-skills-button {
        background: #d6d3cf;
        background-image: url(img/Sandpaper.png);
        background-repeat: repeat;
    }
    &.filter-legal-button, &.filter-location-button {
        background: #aaaaaa;
        background-image: url(img/DarkSnow.png);
        background-repeat: repeat;
    }
    &.filter-finance-button {
        background: #e0e2dc;
        background-image: url(img/GreenPaper.png);
        background-repeat: repeat;
    }
}

.filter-business, .filter-product {
  background: #f2f2f2;
  background-image: url(img/FreshSnow.png);
  background-repeat: repeat;
}

.filter-marketing-and-pr, .filter-skills {
  background: #d6d3cf;
  background-image: url(img/Sandpaper.png);
  background-repeat: repeat;
}

.filter-legal, .filter-location {
  background: #aaaaaa;
  background-image: url(img/DarkSnow.png);
  background-repeat: repeat;
}

.filter-finance {
  background: #e0e2dc;
  background-image: url(img/GreenPaper.png);
  background-repeat: repeat;
}

.down-arrow {
    position: relative;
    float: right;
}

.filter-row {
  display: block;
  float: left;
  width: 100%;
}

.resource {
  padding: 40px 10px;
  float: left;
  position: relative;

  .resource-inner {
    padding: 10px;
  }

  .resource-title {
    display: block;
    font-family: $font-family--primary;
    font-size: 24px;
    letter-spacing: 0.05em;
  }

  .resource-description {
    display: block;
    font-family: $font-family--primary;
    font-size: 15px;
    letter-spacing: 0.05em;
    margin: 10px 0;
    color: $abbey;
  }

  .resource-link {
    text-align: right;
    font-family: $font-family--secondary;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0;
  }

  .resource-link-image {
    display: inline;
    position: relative;
    padding: 5px;
    bottom: -7px;
  }

}


.filter-checkbox {
  height: 15px;
	width: 15px;
	position: relative;
  float: left;
  border: 1px solid #3f4143;
  margin-right: 10px;
  position: relative;
  bottom: -4px;
  cursor: pointer;
  padding: 0;

  label {
    display: inline;
  }
}

.active {
  background: #3f4143;
}

#resources {
  float: left;
  width: 100%;
  position: relative;
}

#resources .mix {
  display: none;
}



.search-title {
  color: $purple;
  text-transform: uppercase;
  font-family: $font-family--secondary;
  font-size: 16px;
  width: 25%;
  display: block;
  border-bottom: 1px solid $purple;
}

.search-items {
  font-family: $font-family--primary;
  font-size: 30px;
  color: $purple;
  border-bottom: 1px solid $purple;
  min-height: 80px;
  line-height: 40px;
  padding: 20px 90px 20px 0;
  position: relative;
}

.search-bar {
  margin: 20px 0;
  width: 100%;
  position: relative;

  input {
    font-family: $font-family--secondary;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    background-color: #f2f2f2;
    border: none;
    padding-left: 30px;
  }
}

.search {
  padding: 10px;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 7px;
  color: #3f4143;
}

.directorylisting-header {
  &:hover {
    img {
      opacity: 0.7;
    }
    .directorylisting-title {
      a {
        opacity: 0.7;
      }
    }
  }
}

.directorylisting-picture {
  padding: 25px;
  text-align: center;

  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}

.directorylisting-title {
  font-size: 24px;
  text-transform: uppercase;
  font-family: $font-family--secondary;

  a {
    color: #3f4042;
  }
}

.directorylisting-business-name {
  font-size: 14px;
  text-transform: uppercase;
  font-family: $font-family--secondary;
  color: $purple;
}

.directorylisting-skills {
  font-family: $font-family--primary;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 10px;
}

.directorylisting-inner {
  background: #d6d3cf;
  margin: 10px;
  padding: 25px;
  position: relative;

  hr {
    margin: 45px 0;
    background: black;
    border-top: 1px solid black;
    border-bottom: 0;
  }
}

#directorylistings .mix {
  display: none;
  position: relative;
  float: left;
}

#directorylistings {
  float: left;
  width: 100%;
  position: relative;
}

.join-bubble {
  background: #3f4143;
  color: white;
  border-radius: 50%;
  height: 135px;
  width: 135px;
  padding: 27px;
  margin: 35px 0;
}

.join-text {
  font-family: $font-family--secondary;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 16px;

  a {
    color: $crail;
  }
}

.join-login {
  font-size: 14px;
  text-transform: uppercase;
  font-family: $font-family--secondary;
  position: relative;
  left: 2px;
  top: -5px;

  a {
    color: #b2a2a0;
  }
}

.reset-filter {
  position: absolute;
  right: 10px;
  bottom: 38px;
  font-family: $font-family--secondary;
  text-transform: uppercase;
  font-size: 14px;
  color: $purple;
  cursor: pointer;

  &.active {
    background: none;
  }
}

.show{
  display: block !important;
}

.directory-single {
  margin-top: 50px;

  h2 {
    font-size: 36px;
    font-family: $font-family--secondary;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0 0 25px;
  }
}

.directory-sidebar {
  margin-right: 20px;
}

.directory-sidebar-social {
  margin-bottom: 20px;
}

.collection-single {
  margin-top: 50px;
}

#collections {
  margin-top: 30px;
}

.collection {
  padding: 20px;
  background-color: #f5f5f5;
}

.collection-inner {
  float: left;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  display: table;
}

.collection-inner:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 5;
}

.collection-inner-text {
  position: relative;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
  display: table-cell;

  h3 {
    margin-bottom: 40px;
    font-family: $font-family--primary;
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 0.05em;
  }

  a {
    font-family: $font-family--secondary;
    text-transform: uppercase;
    font-size: 14px;
    color: #3f4143;
  }
}

.collection-intro {

  span {
    font-family: $font-family--secondary;
    text-transform: uppercase;
    color: #1b648d;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0;
  }

  p {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: #848a8d;
    font-family: $font-family--primary;
    font-style: italic;
  }
}

#marketplace-single {
  margin: 50px 0;
  p {
    letter-spacing: 0.05em;
  }

  h2 {
    font-size: 36px;
    font-family: $font-family--primary;
    line-height: 36px;
    margin: 0 0 25px;
    letter-spacing: 0.05em;
  }
}

.marketplace-sidebar {

}

.press-third {
  width: 33.333%;
  float: left;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 25px 40px;

  @include mq($tablet-width, "max-width") {
    width: 100%;
  }
}

.press-1 {
  background-image: url(img/plaster.png);
  background-size: cover;
  color: $purple;

  a {
    color: $purple;
  }
}

.press-2 {
  background-image: url(img/cup.png);
  background-size: cover;
  color: #3f4143;

  a {
    color: #3f4143;
  }
}

.press-3 {
  background-image: url(img/cherry.png);
  background-size: cover;
  color: white;

  a {
    color: white;
  }
}

.press-tag {
  font-family: $font-family--secondary;
  text-transform: uppercase;
  font-size: 24px;
}

.press-quote {
  margin: 50px 0;
  text-align: center;
}

.press-cta {
  text-align: right;
  text-transform: uppercase;
  font-family: $font-family--secondary;
  font-size: 14px;
}

.trail-third {
  width: 33.333%;
  float: left;
  position: relative;
  padding: 10px;

  @include mq($tablet-width, "max-width") {
    width: 100%;
  }
}

.trail-half {
  float: left;
  position: relative;
  width: 50%;
}

.background-1 {
  background-image: url(img/FreshSnow.png);
  background-repeat: repeat;
}
.background-2 {
  background-image: url(img/DarkSnow.png);
  background-repeat: repeat;
}
.background-3 {
  background-image: url(img/GreenPaper.png);
  background-repeat: repeat;
}
.background-4 {
  background-image: url(img/Sandpaper.png);
  background-repeat: repeat;
}

.directory-sidebar-image {
  padding: 25px;
  margin-bottom: 20px;
  text-align: center;

  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}

.directorylisting-address, .directorylisting-phone, .directorylisting-website, .directorylisting-degree {
  font-size: 15px;
  margin-bottom: 15px;
}

.collection-inner {
  background-color: rgba(255, 255, 255, 0.25);
  display: table;
}

.collection-header {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 1000;
  position: relative;
}

#collections {
  float: left;
  width: 100%;
  position: relative;
}

.resource-icon {
  width: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.resource-type {
  width: 30px;
  position: relative;
  display: block;
}

.content-full {
  width: 100%;
  float: left;
}

.marketplace-content-half {
  width: 50%;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

.marketplace-button {
  padding: 15px 50px;
  font-family: $font-family--secondary;
  font-size: 24px;
  text-transform: uppercase;
  color: #3f4143;
  line-height: 24px;
  text-align: center;
  width: 300px;
  margin-bottom: 40px;

  &:hover {
    opacity: 0.7;
  }
}

.marketplace-section {

  .marketplace-section-title {
    text-align: center;
    font-family: $font-family--primary;
    width: 300px;
    font-size: 30px;
    letter-spacing: 0.05em;
    margin: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    padding-top: 15px;
    padding-bottom: 8px;
    margin-bottom: 40px;
  }
  .marketplace-section-content {

  }

}

.marketplace-content-half {
  padding-right: 20px;

  hr {
    margin: 20px 0;
    width: 140px;
  }
}

.marketplace-content-title {
  font-family: $font-family--secondary;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}

.marketplace-content-body {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.marketplace-main {
  padding-right: 20px;
}

.marketplace-sidebar-location {
  margin-bottom: 20px;
}

.marketplace-sidebar-website {
  margin-bottom: 20px;
}

.marketplace-sidebar-social {
  margin-bottom: 20px;

  i {
    margin-right: 5px;
  }
}

.marketplace-sidebar-image {

}

.trail-full {
  margin-top: 75px;
}

.trail-title {
  float: left;
  width: 100%;

  h2 {
    margin: 0 0 50px;
  }
}

.trail-description {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}

.trail-social {
  font-family: $font-family--secondary;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 50px;
}

.trailstop-inner {
  border-top: 1px solid black;
  position: relative;

  h3 {
    margin: 0;
    padding-top: 10px;
    line-height: 36px;
  }
}

.trailstop-number {
  right: 10px;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #3f4042;
  text-align: center;
  top: 5px;
  line-height: 23px;
}

.trailstop-inner-1 {
  float: left;
  width: 100%;
  position: relative;

  hr {
    width: 400px;
    position: relative;
    float: left;
  }
}

.trailstop-inner-2 {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 15px;

  hr {
    width: 250px;
    position: relative;
    float: left;
  }
}

.trailstop-address, .trailstop-hours, .trailstop-city {
  float: left;
  width: 100%;
}

.trailstop-content {
  margin-bottom: 15px;
}

.trailstop-type {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 25px;
}

.trail-red {
  color: $crail;

  .trailstop-inner {
    border-top: 1px solid $crail;
  }

  .trailstop-number {
    border: 3px solid $crail;
  }

  hr {
    border-top: 1px solid $crail;
  }

  a {
    color: $crail;
  }
}

.trail-purple {
  color: $purple;

  .trailstop-inner {
    border-top: 1px solid $purple;
  }

  .trailstop-number {
    border: 3px solid $purple;
  }

  hr {
    border-top: 1px solid $purple;

  }

  a {
    color: $purple;
  }
}

.trail-blue {
  color: $matisse;

  .trailstop-inner {
    border-top: 1px solid $matisse;
  }

  .trailstop-number {
    border: 3px solid $matisse;
  }

  hr {
    border-top: 1px solid $matisse;

  }

  a {
    color: $matisse;
  }
}

.trail-dark-gray {
  color: $abbey;

  .trailstop-inner {
    border-top: 1px solid $abbey;
  }

  .trailstop-number {
    border: 3px solid $abbey;
  }

  hr {
    border-top: 1px solid $abbey;

  }

  a {
    color: $abbey;
  }
}

.trail-map {
  margin-bottom: 30px;

  iframe {
    border: none;
    position: relative;
    top: -46px;
  }

  .trail-map-container {
    height: 438px;
    border: 2px solid #eee;
    display: inline-block;
    overflow: hidden;
  }
}

.filter-bar {
  display: none;
}
