#main {
    background: white;
    position: relative;
    float: left;
    width: 100%;
}

.content-half {
  width: 50%;
  float: left;
  height: 400px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
  padding: 30px;


  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;

  @include mq($desktop-width, $max) {
    width: 100%;
  }

  .content-text {
    font-size: em(36);
    line-height: 1.1em;
    font-family: $font-family--secondary;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 15%;
  }
}

.content-third {
  width: 33.333%;
  float: left;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 30px;

  @include mq($tablet-width, "max-width") {
    width: 100%;
  }
}

.content-fourth {
    width: 25%;
    float: left;
    background-size: cover;
    background-position: center;
    position: relative;

    @include mq($tablet-width, "max-width") {
      width: 100%;
    }
}

.filter-third {
    width: 33.333%;
    float: left;
    position: relative;
    padding: 15px;
    text-align: center;

    @include mq($tablet-width, "max-width") {
      width: 100%;
    }
}

.filter-quarter {
    width: 25%;
    float: left;
    position: relative;
    padding: 15px;
    text-align: center;

    @include mq($tablet-width, "max-width") {
      width: 100%;
    }
}

.filter-half {
  width: 50%;
  float: left;
  position: relative;
  padding: 15px;
  text-align: center;

  @include mq($tablet-width, "max-width") {
    width: 100%;
  }
}

.content-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  .content-text-main {
    font-size: em(30);
    line-height: 1.3em;
    font-family: $font-family--primary;
    font-weight: 500;
    margin-bottom: 40px;
    letter-spacing: 0.01em;
  }
}

.content-text-cta {
  font-size: 14px;
  font-family: $font-family--secondary;
  text-transform: uppercase;
  display: block;
  line-height: 20px;

  a {

  }
}

.content-rectangle-screen {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: table;
  padding: 10%;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.content-circle-screen {
  border-radius: 50%;
	width: 100%;
	height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: table;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.content-square-screen {
	width: 100%;
	height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: table;
  padding: 10%;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.white-line {
  height: 1px;
  background-color: white;
  width: 110px;
  position: relative;
  margin: 10px auto;
  display: block;
}

.red {
  color: $crail;

  .resource-inner {
    border-top: 1px solid $crail;
  }

  a {
    color: $crail;
  }
}
.purple {
  color: $purple;

  .resource-inner {
    border-top: 1px solid $purple;
  }

  a {
    color: $purple;
  }
}
.blue {
  color: $matisse;

  .resource-inner {
    border-top: 1px solid $matisse;
  }

  a {
    color: $matisse;
  }
}
.dark-gray {
  color: $abbey;

  .resource-inner {
    border-top: 1px solid $abbey;
  }

  a {
    color: $abbey;
  }
}

.text-two-columns {
   -moz-column-count: 2;
   -moz-column-gap: 20px;
   -webkit-column-count: 2;
   -webkit-column-gap: 20px;
}

blockquote {
	margin-bottom: 20px;
	padding-left: 20px;
	position: relative;
	width: 100%;

    p {
        float: left;
    }

	.quote-text {
        font-family: $font-family--secondary;
		font-size: 48px;
		line-height: 1.2;
        font-style: normal;
        text-transform: uppercase;
        display: block;

		&:before {
			content: '\201C';
			position: absolute;
				top: 0;
				left: 0;
		}

		&:after {
			content: '\201D';
			position: relative;
				left: 0;
		}

	}

	.quote-citation {
		font-size: 30px;
		margin-bottom: 0;
		padding-left: 35px;
		position: relative;
        display: block;
        font-style: normal;
        float: right;

		&:before {
			content: '\2014';
			position: absolute;
				left: 0;
		}
	}
}

.content-text-title {
  display: block;
  margin-bottom: 10px;
}

.wppb-user-forms {
  margin: auto;

  ul {
    list-style-type: none;
    padding: 0;
  }

  .wppb-send-credentials-checkbox {
    display: none;
  }

  .text-input {
    border: 1px solid $silver;
    margin-bottom: 15px;
  }

  .submit {
    background: $silver;
    font-family: $font-family--secondary;
    text-transform: uppercase;
    font-size: 12px;
    color: $crail;

    &:hover {
      opacity: 0.7;
    }
  }
}

#wppb_register_pre_form_message {
  display: none;
}

#slidebar {
  position: fixed;
  background-color: $pampas;
  padding: 20px;
  z-index: 10;
  width: 165px;

  ul {
    padding: 0;

    li {
      list-style-type: none;
      font-family: $font-family--secondary;
      text-transform: uppercase;
      margin-bottom: 10px;

      &.active-item {
        a {
          border-bottom: 3px solid $abbey;
        }
      }

      a {
        color: $abbey;
      }
    }
  }
}



#content {
    position: relative;
}

#sidebar {
    position: absolute;
    z-index: 10;
    width: 250px;
    right: 0;
    top: 0;
    margin-top: 100px;

    .share{

      border-bottom: 1px solid black;
      font-family: "din-condensed-web", sans-serif;
      text-transform: uppercase;
      color: #3f4143;
      font-size: 18px;
      padding-bottom: 8px;
      margin: 0 0 10px 0;
      .share-title{
        display: inline; float: left;
        padding: 0 40px 0 30px;
      }
      .sidebar-share-icon{
        display: inline; float: left; padding-left: 10px;

        & a{
          color: black;
        }
      }
    }

    ul {
      padding: 0;
      display: none;

      li {
        list-style-type: none;
        font-family: $font-family--primary;
        margin-bottom: 10px;
        font-size: 15px;
        padding: 0px 30px;

        &:before {
            content: '\f0da';
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            margin: 0px 0px 0px 10px;
            text-decoration: none;
            position: absolute;
            left: 0px;
            cursor: pointer;
            font-size: 25px;
            line-height: 20px;
        }

        &.active-item {
          a {
            border-bottom: 3px solid $abbey;
          }
        }

        a {
          color: $abbey;
        }
      }
    }

    .search-field {
      margin-top: 15px;
      border: none;
      border-bottom: 1px solid black;
      font-family: $font-family--secondary;
      text-transform: uppercase;
      color: $almost-black;
      font-size: 18px;
      padding: 10px 0 10px 30px;
      width: 220px;
      background: url(img/magnify.png) no-repeat   206px 10px; ;


        &::-webkit-input-placeholder {
            color: $almost-black;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: $almost-black;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            color: $almost-black;
        }

        &:-ms-input-placeholder {
            color: $almost-black;
        }
    }

    .screen-reader-text {
        display: none;
    }

    .search-submit {
        display: none;
    }

    .textwidget {
        border-bottom: 1px solid black;
        font-family: $font-family--secondary;
        text-transform: uppercase;
        color: $almost-black;
        font-size: 18px;
        padding: 15px;

        .social-icons {
            float: right;

            i {
                margin-right: 5px;
            }

            a {
                color: $almost-black;
            }
        }
    }

    h3 {
        font-family: $font-family--secondary;
        text-transform: uppercase;
        color: $almost-black;
        font-size: 18px;
        padding: 15px;
        background-image: url(img/Sandpaper.png);

        background-repeat: repeat;
       &:hover{
        cursor: pointer;
        opacity: 0.8;
       }

       img{
        text-align: right;
        float: right;
       }


        &:after {

        }
    }
    h3.sidebar-open{
      background-image: url(img/Gritty.png);
     }


}

.sidebar-open {
    &:after {

    }
}

.filter-box {
    padding: 50px;
    position: relative;

    ul {
        padding: 0;

        li {
            list-style-type: none;
            font-family: $font-family--secondary;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
}

.filter-product, .filter-skills, .filter-location {
    display: none;
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}

.filter-legal, .filter-finance {
    display: none;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.filter-business, .filter-marketing-and-pr {
    display: none;
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}

.filter-collections {
    display: none;
    text-align: center;
}

.filter-businesses {
    display: none;
    padding: 0 !important;
}


.x {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: $font-family--secondary;
    text-transform: uppercase;
    color: $purple;
    cursor: pointer;
}

.filter-inner-button {
    font-family: $font-family--secondary;
    text-transform: uppercase;
    color: $almost-black;
    cursor: pointer;
    background-image: url(img/Sandpaper.png);
    background-repeat: repeat;

    &:hover {
      opacity: 1;

    }
}

.filter-button {
    font-family: $font-family--secondary;
    text-transform: uppercase;
    color: $almost-black;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &.filter-business-button, &.filter-product-button {
        background: #f2f2f2;
        background-image: url(img/FreshSnow.png);
        background-repeat: repeat;
    }
    &.filter-marketing-and-pr-button, &.filter-skills-button {
        background: #d6d3cf;
        background-image: url(img/Sandpaper.png);
        background-repeat: repeat;
    }
    &.filter-legal-button, &.filter-location-button {
        background: #aaaaaa;
        background-image: url(img/DarkSnow.png);
        background-repeat: repeat;
    }
    &.filter-finance-button {
        background: #e0e2dc;
        background-image: url(img/Gritty.png);
        background-repeat: repeat;
    }

    &.filter-collections-button {
        background: #e0e2dc;
        background-image: url(img/FreshSnow.png);
        background-repeat: repeat;
    }

    &.filter-businesses-button {
        background: #e0e2dc;
        background-image: url(img/Sandpaper.png);
        background-repeat: repeat;
    }
}

.filter-business, .filter-product {
  background: #f2f2f2;
  background-image: url(img/FreshSnow.png);
  background-repeat: repeat;
}

.filter-marketing-and-pr, .filter-skills {
  background: #d6d3cf;
  background-image: url(img/Sandpaper.png);
  background-repeat: repeat;
}

.filter-legal, .filter-location {
  background: #aaaaaa;
  background-image: url(img/DarkSnow.png);
  background-repeat: repeat;
}

.filter-finance {
  background: #e0e2dc;
  background-image: url(img/Gritty.png);
  background-repeat: repeat;
}

.filter-inner {
    float: left;
    width: 100%;
    background-image: url(img/Sandpaper.png);
    background-repeat: repeat;
}

.filter-inner-right {
    width: 50%;
    float: right;
    position: relative;
}

.filter-inner-box {
    padding: 50px;
}

.filter-inner-right-half {
    width: 50%;
    float: left;
    position: relative;
    padding: 15px;
    text-align: center;
}

.down-arrow {
    position: relative;
    float: right;
}

.filter-row {
  display: block;
  float: left;
  width: 100%;
  position: relative;
}

.resource {
  padding: 10px;
  display: inline-block;
  float: left;
  position: relative;
  height: 425px;


  .resource-inner {
    padding: 10px;
  }

  .resource-title {
    display: block;
    font-family: $font-family--primary;
    font-size: 24px;
    letter-spacing: 0.05em;
  }

  .resource-description {
    display: block;
    font-family: $font-family--primary;
    font-size: 15px;
    letter-spacing: 0.05em;
    margin: 10px 0;
    color: $abbey;
  }

  .resource-link {
    text-align: right;
    font-family: $font-family--secondary;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0;
  }

  .resource-link-image {
    display: inline;
    position: relative;
    padding: 5px;
    bottom: -7px;
  }

}


.filter-checkbox {
  height: 15px;
	width: 15px;
	position: relative;
  float: left;
  border: 1px solid $almost-black;
  margin-right: 10px;
  position: relative;
  bottom: -4px;
  cursor: pointer;
  padding: 0;

  label {
    display: inline;
  }
}

.active {
  background: $almost-black;
}

#resources, #directorylistings {
  float: left;
  width: 100%;
  min-height: 600px;
  position: relative;
}

#resources .mix, #directorylistings .mix{
   display: none;
}



.search-title {
  color: $purple;
  text-transform: uppercase;
  font-family: $font-family--secondary;
  font-size: 16px;
  width: 25%;
  display: block;
  border-bottom: 1px solid $purple;
}

.search-items {
  font-family: $font-family--primary;
    font-size: 18px;
    color: #b33ed9;
    border-bottom: 1px solid #b33ed9;
    min-height: 48px;
    /* line-height: 40px; */
    padding: 10px 90px 10px 0;
    position: relative;
}

.search-bar {
  margin: 20px 0;
  width: 100%;
  position: relative;

  input {
    font-family: $font-family--secondary;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    background-color: #f2f2f2;
    border: none;
    padding-left: 30px;
  }
}

.search {
  padding: 10px;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 7px;
  color: $almost-black;
}

.directorylisting {
    height: 750px;
}

.directorylisting-header {
  &:hover {
    img {
      opacity: 0.7;
    }
    .directorylisting-title {
      a {
        opacity: 0.7;
      }
    }
  }
}

.directorylisting-picture {
  padding: 25px;
  text-align: center;

  img {
    border-radius: 50%;
    height: 150px;
  }
}

.directorylisting-title {
  font-size: 24px;
  text-transform: uppercase;
  font-family: $font-family--secondary;

  a {
    color: #3f4042;
  }
}

.directorylisting-business-name {
  font-size: 18px;
  text-transform: uppercase;
  font-family: $font-family--secondary;
  color: $purple;
}

.directorylisting-skills {
  font-family: $font-family--primary;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 10px;
}

.directorylisting-inner {
  background: #d6d3cf;
  margin: 10px;
  padding: 25px;
  position: relative;

  hr {
    margin: 45px 0;
    background: black;
    border-top: 1px solid black;
    border-bottom: 0;
  }
}

#directorylistings .mix {
  display: none;
  position: relative;
  float: left;
}

#marketplace .mix {
  display: none;
  position: relative;
  float: left;
}

#directorylistings {
  float: left;
  width: 100%;
  position: relative;
}

.join-bubble {
  background: $almost-black;
  color: white;
  border-radius: 50%;
  height: 135px;
  width: 135px;
  padding: 27px;
  position: absolute;
  right: 0px;
  bottom: 35px;
}

.join-bubble-made {
  padding: 23px;
}

.join-text {
  font-family: $font-family--secondary;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 16px;

  a {
    color: $crail;
  }
}

.join-login {
  font-size: 14px;
  text-transform: uppercase;
  font-family: $font-family--secondary;
  position: relative;
  left: 2px;
  top: -5px;

  a {
    color: #b2a2a0;
  }
}

.reset-filter {
  position: absolute;
  right: 10px;
  bottom: 38px;
  font-family: $font-family--secondary;
  text-transform: uppercase;
  font-size: 14px;
  color: $purple;
  cursor: pointer;
  bottom: 25px;

  &.active {
    background: none;
  }
}

.show{
  display: block !important;

}

.directory-single {
  margin-top: 50px;
  float: left;

  h2 {
    font-size: 36px;
    font-family: $font-family--secondary;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0 0 25px;
  }
}

.directory-sidebar {
  margin-right: 20px;
}

.directory-sidebar-social {
  margin-bottom: 20px;

  span {
    font-family: $font-family--primary;
    font-style: italic;
    font-size: 14px;
  }
}

.directory-sidebar-categories {
  font-style: italic;
  font-size: 14px;
}

.collection-single {
  margin-top: 50px;
}

#collections {
  margin-top: 30px;
}

.marketplace-collection {
  padding: 20px;
  background-color: #f5f5f5;
}

.marketplace-collection-inner {
  float: left;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  display: table;
}

.marketplace-collection-inner:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 5;
}

.marketplace-collection-inner-text {
  position: relative;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
  display: table-cell;

  h3 {
    margin-bottom: 40px;
    font-family: $font-family--primary;
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 0.05em;
  }

  a {
    font-family: $font-family--secondary;
    text-transform: uppercase;
    font-size: 14px;
    color: $almost-black;
  }
}

.collection-intro {

  span {
    font-family: $font-family--secondary;
    text-transform: uppercase;
    color: #1b648d;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0;
  }

  p {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: #848a8d;
    font-family: $font-family--primary;
    font-style: italic;
  }
}

#marketplace-single {
  margin: 50px 0;
  p {
    letter-spacing: 0.05em;
  }

  h2 {
    font-size: 36px;
    font-family: $font-family--primary;
    line-height: 36px;
    margin: 0 0 25px;
    letter-spacing: 0.05em;
  }
}

.marketplace-sidebar {

}

.press-third {
  width: 33.333%;
  float: left;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 25px 40px;

  @include mq($tablet-width, "max-width") {
    width: 100%;
  }
}

.press-1 {
  background-image: url(img/plaster.png);
  background-size: cover;
  color: $purple;
  min-height: 200px;

  a {
    color: $purple;
  }
}

.press-2 {
  background-image: url(img/cup.png);
  background-size: cover;
  color: $almost-black;
  min-height: 200px;

  a {
    color: $almost-black;
  }
}

.press-3 {
  background-image: url(img/cherry.png);
  background-size: cover;
  color: white;
  min-height: 200px;

  a {
    color: white;
  }
}

.press-tag {
  font-family: $font-family--secondary;
  text-transform: uppercase;
  font-size: 18px;
}

.press-quote {
  margin: 50px 0;
  text-align: center;
  font-size: 24px;
}

.press-cta {
  text-align: right;
  text-transform: uppercase;
  font-family: $font-family--secondary;
  font-size: 14px;
}

.trail-third {
  width: 33.333%;
  float: left;
  position: relative;
  padding: 10px 10px 20px;

  @include mq($tablet-width, "max-width") {
    width: 100%;
  }
}

.trail-half {
  float: left;
  position: relative;
  width: 50%;
}

.background-1 {
  background-image: url(img/FreshSnow.png);
  background-repeat: repeat;
}
.background-2 {
  background-image: url(img/DarkSnow.png);
  background-repeat: repeat;
}
.background-3 {
  background-image: url(img/Gritty.png);
  background-repeat: repeat;
}
.background-4 {
  background-image: url(img/Sandpaper.png);
  background-repeat: repeat;
}

.directory-sidebar-image {
  padding: 25px;
  margin-bottom: 20px;
  text-align: center;

  img {
    border-radius: 50%;
    max-height: 150px;
  }
}

.directorylisting-address, .directorylisting-phone, .directorylisting-website, .directorylisting-degree, .directorylisting-county, .directorylisting-email {
  font-size: 15px;
  margin-bottom: 15px;
}

.collection-inner {
  background-color: rgba(255, 255, 255, 0.25);
  display: table;
}

.collection-header {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 1000;
  position: relative;
}

#collections {
  float: left;
  width: 100%;
  position: relative;
}

.resource-icon {
  width: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.resource-type {
  width: 30px;
  position: relative;
  display: block;
}

.content-full {
  width: 100%;
  float: left;
  padding-bottom: 50px;
  padding-top: 20px;
}

.content-container {
    width: 100%;
    float: left;
    padding-bottom: 20px;
}

.marketplace-content-half {
  width: 50%;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  min-height: 300px;
}

.marketplace-button {
  padding: 15px 50px;
  font-family: $font-family--secondary;
  font-size: 24px;
  text-transform: uppercase;
  color: $almost-black;
  line-height: 24px;
  text-align: center;
  width: 300px;
  margin-bottom: 40px;

  &:hover {
    opacity: 0.7;
  }
}

.marketplace-section {

  .marketplace-section-title {
    text-align: center;
    font-family: $font-family--primary;
    width: 300px;
    font-size: 30px;
    letter-spacing: 0.05em;
    margin: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    padding-top: 15px;
    padding-bottom: 8px;
    margin-bottom: 40px;
  }
  .marketplace-section-content {

  }

}

.marketplace-content-half {
  padding-right: 20px;

  hr {
    margin: 20px 0;
    width: 140px;
  }
}

.marketplace-content-title {
  font-family: $font-family--secondary;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}

.marketplace-content-body {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.marketplace-main {
  padding-right: 20px;
}

.marketplace-sidebar-location {
  margin-bottom: 20px;
}

.marketplace-sidebar-website {
  margin-bottom: 20px;
}

.marketplace-sidebar-social {
  margin-bottom: 20px;


  span {
    font-family: $font-family--primary;
    font-style: italic;
    font-size: 14px;
  }


  i {
    margin-right: 5px;
  }
}

.marketplace-sidebar-image {

}

.trail-full {
  margin-top: 75px;
}

.trail-title {
  float: left;
  width: 100%;

  h2 {
    margin: 0 0 50px;
  }
}

.trail-description {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}

.trail-social {
  font-family: $font-family--secondary;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 50px;
}

.trailstop-inner {
  border-top: 1px solid black;
  position: relative;

  h3 {
    margin: 0;
    padding-top: 10px;
    line-height: 36px;
  }
}

.trailstop-number {
  right: 10px;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #3f4042;
  text-align: center;
  top: 5px;
  line-height: 23px;
}

.trailstop-inner-1 {
  float: left;
  width: 100%;
  position: relative;

  hr {
    width: 400px;
    position: relative;
    float: left;
  }
}

.trailstop-inner-2 {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 15px;

  hr {
    width: 250px;
    position: relative;
    float: left;
  }
}

.trailstop-address, .trailstop-hours, .trailstop-city {
  float: left;
  width: 100%;
}

.trailstop-content {
  margin-bottom: 15px;
}

.trailstop-type {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 25px;
}

.trail-red {
  color: $crail;

  .trailstop-inner {
    border-top: 1px solid $crail;
  }

  .trailstop-number {
    border: 3px solid $crail;
  }

  hr {
    border-top: 1px solid $crail;
  }

  a {
    color: $crail;
  }
}

.trail-purple {
  color: $purple;

  .trailstop-inner {
    border-top: 1px solid $purple;
  }

  .trailstop-number {
    border: 3px solid $purple;
  }

  hr {
    border-top: 1px solid $purple;

  }

  a {
    color: $purple;
  }
}

.trail-blue {
  color: $matisse;

  .trailstop-inner {
    border-top: 1px solid $matisse;
  }

  .trailstop-number {
    border: 3px solid $matisse;
  }

  hr {
    border-top: 1px solid $matisse;

  }

  a {
    color: $matisse;
  }
}

.trail-dark-gray {
  color: $abbey;

  .trailstop-inner {
    border-top: 1px solid $abbey;
  }

  .trailstop-number {
    border: 3px solid $abbey;
  }

  hr {
    border-top: 1px solid $abbey;

  }

  a {
    color: $abbey;
  }
}

.trail-map {
  margin-bottom: 30px;

  iframe {
    border: none;
    position: relative;
    top: -46px;
  }

  .trail-map-container {
    height: 438px;
    border: 2px solid #eee;
    display: inline-block;
    overflow: hidden;
  }
}

.filter-bar {
  display: none;
  position: relative;
}

.white-bg{ background: #fff !important}

.marketplace-video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
    margin-bottom: 25px;
}

.marketplace-video iframe,
.marketplace-video object,
.marketplace-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form-section {
    float: left;
}

.postinfo {
    font-family: $font-family--secondary;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
}

.post {
    float: left;
	margin-bottom: 50px;

    h2 {
        a {
            color: $almost-black;
        }
    }

    hr {
        margin: 10px 0;
        background: black;
        border-top: 1px solid black;
        border-bottom: 0;
        width: 60%;
    }
}

.share-icon {
    display: inline;
    margin-right: 25px;
    font-size: 12px;

    i {
        margin-right: 10px;
    }

    a {
        color: $almost-black;
    }
}

.share-post {
    margin-bottom: 20px;
}

.post-thumbnail {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.more-button {
    padding: 15px 50px;
    font-family: $font-family--secondary;
    font-size: 24px;
    text-transform: uppercase;
    color: #3f4143;
    line-height: 24px;
    text-align: center;
    width: 300px;
    background-image: url(img/FreshSnow.png);
    background-repeat: repeat;
    margin: auto;
    cursor: pointer;
}


img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.one_half{ width:47%; padding-right: 2%; float: left; }
.last{ margin-right:0 !important; padding-left: 2%; padding-right: 0; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}

.join-mobile {
    @include mq($mobile-landscape-width, $max) {
      display: none;
    }
}
