.content-half {
  width: 50%;
  float: left;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 30px;

  .content-text {
    font-size: em(36);
    line-height: 1.1em;
    font-family: $font-family--secondary;
    text-transform: uppercase;
    color: $crail;
    font-weight: 500;
  }
}

.content-third {
  width: 33.333%;
  float: left;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 40px;
}

.content-fourth {
  width: 25%;
  float: left;
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 15px;
}

.content-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  .content-text-main {
    font-size: em(30);
    line-height: 1.1em;
    font-family: $font-family--primary;
    color: $crail;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .content-text-cta {
    font-size: em(14);
    font-family: $font-family--secondary;
    text-transform: uppercase;
    color: $crail;

    a {
      color: $crail;
    }
  }
}

.content-rectangle-screen {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: table;
  padding: 10%;
}

.content-circle-screen {
  border-radius: 50%;
	width: 100%;
	height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: table;
  padding: 10%;
}

.white-line {
  height: 1px;
  background-color: white;
  width: 110px;
  position: relative;
  margin: 10px auto;
  display: block;
}
