.masthead-title {
  color: white;
  text-align: center;
  font-size: 69px;
  letter-spacing: 0.01em;
  line-height: 80px;

  opacity: 1;
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
  -webkit-transition: -webkit-transform .4s ease-in-out, opacity .4s ease-in-out;

  @include mq($tablet-width, "max-width") {
    font-size: 42px;
    line-height: 54px;
  }
}

.masthead-title, .masthead-tagline, .masthead-subtitle, .masthead-link {
    opacity: 1;
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: transform .4s ease-in-out, opacity .4s ease-in-out;
    -webkit-transition: -webkit-transform .4s ease-in-out, opacity .4s ease-in-out;
}

.wf-loading .masthead-title, .wf-loading .masthead-tagline, .wf-loading .masthead-subtitle, .wf-loading .masthead-link {
	opacity: 0;
	transform: translateY(20px);
	-ms-transform: translateY(20px);
	-webkit-transform: translateY(20px);
}

.masthead-title-home {
  font-size: 42px;
  line-height: 54px;
}

.masthead-subtitle {
  padding: 5px 0;
  border-top: 5px solid $astral;
  border-bottom: 5px solid $astral;
}

.masthead-subtitle-inner {
  color: $astral;
  text-align: center;
  font-family: $font-family--secondary;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 100px;
}

.masthead-tagline {
  text-align: center;
  font-family: $font-family--secondary;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;


}


.masthead-link {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-family--secondary;

  a {
    color: white;

    &:hover {
      color: $purple;
    }
  }
}

.citation {
  text-align: right;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: $font-family--secondary;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.breadcrumbs {
    text-align: left;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: $font-family--secondary;
    position: absolute;
    left: 0px;
    bottom: 0px;

    a {
        color: white;
    }
}

.breadcrumbs {
    opacity: 1;
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transition: transform .4s ease-in-out, opacity .4s ease-in-out;
	-webkit-transition: -webkit-transform .4s ease-in-out, opacity .4s ease-in-out;
}

.wf-loading .breadcrumbs {
    opacity: 0;
	transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
}

.sep {
    margin: 0 5px;
}

.masthead-arrow {
  text-align: center;
  margin: 50px 0 15px;
}

.masthead-text {
  display: table-cell;
  vertical-align: middle;
}

.screen {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
