#menu-utilities-nav, #social-utilities-nav, #login-utilities-nav {
	clear: both;
	display: inline-block;
	list-style-type: none;
	padding: 0;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		font-size: em(12);
		text-transform: uppercase;
		font-family: $font-family--secondary;
		padding: 3px 5px;

		@include mq($big-width, "max-width") {
	      padding: 3px 5px;
	    }

		@include mq($tablet-width, "max-width") {
			&.menu-item {
				display: none;
			}
	    }

		&.social-icon {
			padding: 3px 5px;

			@include mq($mobile-landscape-width, $max) {
				display: none;
			}
		}

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: $cod;

		&:hover {
			color: $purple;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

#menu-utilities-nav, #login-utilities-nav {
	opacity: 1;
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transition: transform .4s ease-in-out, opacity .4s ease-in-out;
	-webkit-transition: -webkit-transform .4s ease-in-out, opacity .4s ease-in-out;
}

.wf-loading #menu-utilities-nav, .wf-loading #login-utilities-nav {
	opacity: 0;
	transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
}

#menu-utilities-nav {
	padding-right: 5px;
}

#login-utilities-nav {
	.creative-network a {
		color: $crail;
	}
}

.creative-network::after {
	content: "|";
	position: absolute;
	right: -1px;
	top: 2px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.utilities-nav {
	float: left;
	width: 100%;
	text-align: right;
	background-color: rgba(255, 255, 255, 0.7);
	height: 24px;
	margin-bottom: 15px;
	z-index: 100;
	position: relative;
}

.menu-block {
	height: 50px;


	&:hover {

		.menu-block-primary-text {
			color: $purple;
		}
		.menu-block-secondary-text {
			color: $purple;
			border-bottom: 3px solid $purple;
		}
	}
}

.main-menu-item {
	width: 105px;
	margin-left: 5px;
	margin-right: 10px;
	float: left;
	display: inline;
	position: relative;

	@include mq($big-width, "max-width") {
	  width: 85px;
	}
}

.menu-item:hover {
	.menu-block {
		color: $purple;

		.menu-block-primary-text {
			color: $purple;
		}
		.menu-block-secondary-text {
			color: $purple;
			border-bottom: 3px solid $purple;
		}
	}
	.sub-menu-block {
		display: block;
	}
}

.menu-block-half-1, .menu-block-half-2 {
	background-color: white;
	padding: 10px;
	margin-bottom: 5px;

	&:hover {
		background-color: $purple;

		.menu-block-primary-text {
			color: white;
		}
	}
}

.menu-block-primary-text {
	display: block;
	font-family: $font-family--secondary;
	text-transform: uppercase;
	font-size: 23px;
	line-height: 24px;
	color: white;
}
.menu-block-secondary-text {
	display: block;
	font-family: $font-family--primary;
	font-size: 12px;
	color: white;
	border-bottom: 3px solid white;
	font-weight: 700;
	letter-spacing: 0.01em;

	@include mq($big-width, "max-width") {
	  font-size: 10px;
	}
}

.tagline {
	width: 100%;
	float: left;
	padding: 5px;
	text-align: center;
	background-color: white;
	position: relative;

	.tagline-attention {
		font-family: $font-family--primary;
		color: #5a636e;
		letter-spacing: 0.01em;
	}
	.tagline-message {
		font-family: $font-family--secondary;
		text-transform: uppercase;
		color: $almost-black;
	}
}

.sub-menu-block {
	background: white;
	width: 720px;
	right: 0;
	border-top: 5px solid $purple;
	display: none;
	z-index: 10;
	position: absolute;
	top: 50px;

	@include mq($big-width, "max-width") {
	  width: 595px;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}
	.sub-menu-block-quote {
		float: left;
		width: 50%;
		padding: 30px;
	}
	.sub-menu-block-quote-full {
		float: left;
		width: 100%;
		padding: 30px;
	}

	.sub-menu-block-quote-text {
		p {
			font-weight: 700;
			font-size: 24px;
			margin-bottom: 0;
		}
	}
	.sub-menu-block-quote-cta {
		font-size: 14px;
	  font-family: $font-family--secondary;
	  text-transform: uppercase;
	  display: block;
	}

	.sub-menu-block-nav {
		float: left;
		width: 50%;
		padding: 30px;

		.half {
			width: 100%;
			float: left;
			padding-right: 10px;
		}

		> ul {
			> li {
				font-weight: 700;
				font-size: 12px;
				line-height: 20px;

				a {
					color: #3f4042;
				}
			}

			ul > li {
				font-family: $font-family--secondary;
				text-transform: uppercase;
				font-size: 12px;
				line-height: 20px;
				font-weight: 300;
			}
		}

	}
}

.logo {
	position: absolute;
	top: -39px;
	width: 150px;
	cursor: pointer;

	a:hover {
		opacity: 1;
	}

	// @include mq($big-width, "max-width") {
	//   width: 110px;
	// }
}

.main-menu-container {
	right: 0;
	position: absolute;

	opacity: 1;
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	transition: transform .4s ease-in-out, opacity .4s ease-in-out;
	-webkit-transition: -webkit-transform .4s ease-in-out, opacity .4s ease-in-out;

	@include mq($tablet-width, $max) {
	  display: none;
	}
}

.wf-loading .main-menu-container {
	opacity: 0;
	transform: translateY(20px);
	-ms-transform: translateY(20px);
	-webkit-transform: translateY(20px);
}

.main-menu-toggle {
	display: none;
	position: absolute;
	right: 30px;
	font-size: 30px;
	cursor: pointer;

	i {
		color: white;
	}

	@include mq($tablet-width, $max) {
	  display: block;
	}
}

.main-menu-toggle-left {
	left: 0;
}

.menu-active {
	.menu-block-primary-text {
		color: $purple;
	}
	.menu-block-secondary-text {
		color: $purple;
		border-bottom: 3px solid $purple;
	}
}

.sidr {
	background: white;
	width: 200px !important;

	> ul {
		list-style-type: none;
		padding: 0 5px 0;

		> li {
			margin: 0;
			padding: 5px 5px;
			cursor: pointer;

			> .menu-block-item {
				&:hover {
					.menu-block-primary-icon {
						color: $purple;
					}
				}
			}

			ul {
				list-style-type: none;
				padding: 0;

				li {
					padding: 0;
					margin-bottom: 5px;
					font-size: 14px;
					color: $almost-black;

					> a {
						color: $almost-black;
					}
				}
			}
		}
	}

	.footer-navigation {
		padding: 0 10px;
	}

	.menu-block-primary-text {
		color: $almost-black;
		display: inline;
	}
	.menu-block-primary-icon {
		float: right;
		display: inline;
		font-size: 25px;
	}
	.menu-block-secondary-text {
		color: $almost-black;
		border-bottom: 3px solid $almost-black;
	}

	.sub-menu-block-item {
		display: none;
	}
}

.close-sidr {
	padding: 0 10px;
	width: 100%;
	text-align: right;
	cursor: pointer;
}
